* {
    box-sizing: border-box;
}

/*全体*/
body {
    position: relative;
    height: 100%;
    background-color: #2C2F33;
    font-family: 'Arial', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    margin-top: 0;
    margin-bottom: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #e0e5ec;
}
 
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* 画像のドラッグ禁止 */
img {
    user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}
/* ヘッダー&フッター */
.Fixed {
    /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    min-height: 100vh; 
    /* ←相対位置 */
    position: relative;
    /* ←フッターの高さを指定 */
    padding-bottom: 80px; 
    box-sizing: border-box;
}

header {
    /* 選択禁止 */
    user-select: none;
    /* 横幅いっぱい */
    width: 100vw;
    height: 63px;
    margin-left: calc(-50vw + 50%);
    color: #FEA808;
    background-color: #25272A;
}

/* タイトル */
.title {
    position: absolute;
    margin-top: 13px;
    top: 0;
    left: 5px;
}

.content-title {
    text-align: center;
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 0;
    color: #FEA808;
}

.main {
    /* 横幅の最大値と最小値 */
    max-width: 700px;
    min-width: 340px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    /* nice-wrap全体の中央寄せ */
    margin-left: auto;
    margin-right: auto;
}

.headline {
    text-align: left;
    font-size: 25px;
    margin-bottom: 5px;
    color: #FEA808;
}

.bodytext {
    text-align: left;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: #e0e5ec;
}

.link {
    color: #848484;
    text-decoration: none;
}


footer {
    height: 60px;
    /* 選択禁止 */
    user-select: none;
}

.copyright {
    font-size: 11px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #e0e5ec;
}

.footer-main {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    background-color: #25272A;
    /* 横幅いっぱい */
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-bottom: 5px;
}

.footer-tool-bar {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.top {
    font-size: 15px;
    color: #848484;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.contact {
    font-size: 15px;
    color: #848484;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}